container_commands:
  01_install_deps:
    command: "cd /var/app/staging/server && npm ci --production=false"
    leader_only: false
  02_build:
    command: "cd /var/app/staging/server && npm run build"
    leader_only: false
  03_migrate:
    command: "cd /var/app/staging/server && npx prisma migrate deploy"
    leader_only: true
  04_generate:
    command: "cd /var/app/staging/server && npx prisma generate"
    leader_only: false
